// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  text-align: center;
}

.field {
  text-align: center;
  padding-bottom: 30px;
}

.actions {
  text-align: center;
}

.link_sign-up {
  text-align: center;
}

.link_login {
  text-align: center;
  padding-top: 30px;
}